<p id="notice">
  <%= notice %>
</p>

<h1>Courrier Sortant</h1>

<table class=" table table-hover">
  <thead>
  <tr class="success">
    <th>Numero d'ordre</th>
    <th>Destination</th>
    <th>Date de Sortie</th>
    <th>User</th>
    <th>Project</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @release_couriers.each do |releaseCourier| %>
      <tr>
        <td>
          <%= releaseCourier.reference %>
        </td>
        <td>
          <%= releaseCourier.release_date %>
        </td>
        <td>
          <%= releaseCourier.destination %>
        </td>
        <td>
          <%= releaseCourier.user.lName %>
        </td>
        <td>
          <%= releaseCourier.project.reference %>
        </td>
        <td>
          <%= link_to 'Show', courier %>
        </td>
        <td>
          <%= link_to 'Edit', edit_release_courier_path(releaseCourier) %>
        </td>
        <td>
          <%= link_to 'Destroy', courier, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Courier', new_release_courier_path, class: 'btn btn-success' %>